---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cowdogmoo-runner
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cowdogmoo-runner
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: cowdogmoo-runner
    namespace: actions-runner-system
