---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/alertmanagerconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: alertmanager
spec:
  route:
    groupBy:
      - alertname
      - job
      - severity
    groupInterval: 5m
    groupWait: 30s
    receiver: pushover
    repeatInterval: 4h
    routes:
      - receiver: "null"
        matchers:
          - name: alertname
            value: InfoInhibitor
            matchType: =
      - receiver: "null"
        groupInterval: 5m
        groupWait: 0s
        repeatInterval: 5m
        matchers:
          - name: alertname
            value: Watchdog
            matchType: =
      - receiver: pushover
        groupWait: 0s
        repeatInterval: 1h
        matchers:
          - name: severity
            value: critical
            matchType: =
      - receiver: pushover
        groupWait: 5m
        repeatInterval: 6h
        matchers:
          - name: severity
            value: warning
            matchType: =
  inhibitRules:
    - equal:
        - alertname
        - namespace
      sourceMatch:
        - name: severity
          value: critical
          matchType: =
      targetMatch:
        - name: severity
          value: warning
          matchType: =
  receivers:
    - name: "null"
    - name: pushover
      pushoverConfigs:
        - html: true
          message: |-
            {{- $maxAlerts := 2 }}
            {{- $alerts := .Alerts }}
            {{- $total := len $alerts }}
            {{- range $i, $alert := $alerts }}
              {{- if lt $i $maxAlerts }}
            <b>{{ $alert.Labels.alertname }}</b>
                {{- if ne $alert.Annotations.summary "" }}
            {{ $alert.Annotations.summary | reReplaceAll "(.{200}).*" "$1..." }}
                {{- else if ne $alert.Annotations.description "" }}
            {{ $alert.Annotations.description | reReplaceAll "(.{200}).*" "$1..." }}
                {{- end }}
                {{- with $alert.Labels.namespace }} ns:{{ . }}{{ end }}
                {{- with $alert.Labels.instance }} host:{{ . }}{{ end }}
                {{- with $alert.Labels.pod }} pod:{{ . }}{{ end }}
            ---
              {{- end }}
            {{- end }}
            {{- if gt $total $maxAlerts }}
            <b>+{{ sub $total $maxAlerts }} more alerts</b>
            {{- end }}
          priority: |-
            {{ if eq .Status "firing" }}1{{ else }}0{{ end }}
          sendResolved: true
          sound: gamelan
          title: >-
            [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }}
          ttl: 86400s
          token:
            name: &secret alertmanager-secret
            key: ALERTMANAGER_PUSHOVER_TOKEN
          userKey:
            name: *secret
            key: PUSHOVER_USER_KEY
          urlTitle: View in Alertmanager
