# Generated artifacts
logs

# Secrets
*cloudflare*
# *auth*
*secret.yaml
!externalsecret.yaml

*login*

# Terragrunt
.terraform
.terragrunt-cache
*terragrunt-debug.tfvars.json
backend.tf
provider.tf

# Deprecated directories
deprecated

# AGE
keys.txt
*.secret.yaml

# taskfiles
.task/

# VSCode artifacts
node_modules
