# Generated artifacts
logs

# Terragrunt
.terraform
.terragrunt-cache
*terragrunt-debug.tfvars.json
backend.tf
provider.tf

# Deprecated directories
deprecated

# AGE
keys.txt

# taskfiles
.task/

# VSCode artifacts
node_modules
