---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: kubernetes/apps/rancher/rancher/app/charts
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable
        exclude: kubernetes/apps/rancher/rancher/app/charts

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/yamllint.yaml
        exclude: >-
          ^(kubernetes/apps/(monitoring/kube-prometheus-stack/app/helmrelease.yaml|external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml))

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: ["--fix", "--config", ".hooks/linters/markdownlint.json"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [json, yaml]

  - repo: local
    hooks:
      - id: shfmt
        name: Run shfmt hook on shell scripts
        language: script
        entry: .hooks/run-shfmt.sh
        files: \.sh$
