[defaults]
inventory = inventory/cowdogmoo/hosts.ini
# Ansible gathers facts about the systems it
# manages before executing tasks. If your
# playbooks use lots of facts, it might be beneficial to cache them.
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible-caching-jsonfile
remote_tmp = ~/.ansible/tmp
local_tmp = ~/.ansible/tmp

[ssh_connection]
# Multiplexing support
control_path = /tmp/ansible-ssh-%%h-%%p-%%r

# Increase SSH timeout
timeout = 30

# Optional: Control persist for multiplexing (if enabled)
control_persist = 60s
