---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-instance
  namespace: flux-system
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: flux-instance
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    instance:
      distribution:
        artifact: oci://ghcr.io/controlplaneio-fluxcd/flux-operator-manifests:v0.32.0
        version: 2.x
      cluster:
        networkPolicy: false # k3s compatibility
      components:
        - source-controller
        - kustomize-controller
        - helm-controller
        - notification-controller
      sync:
        kind: GitRepository
        url: https://github.com/CowDogMoo/walls-of-excellence.git
        ref: refs/heads/main
        path: kubernetes/flux/cluster
        interval: 30m
      kustomize:
        patches:
          - # Increase the number of workers and API limits
            patch: |-
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --concurrent=12
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --kube-api-qps=500
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --kube-api-burst=1000
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --requeue-dependency=5s
            target:
              kind: Deployment
              name: (kustomize-controller|helm-controller|source-controller)
          - # Set resource limits
            patch: |-
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: all
              spec:
                template:
                  spec:
                    containers:
                      - name: manager
                        resources:
                          requests:
                            cpu: 100m
                            memory: 128Mi
                          limits:
                            cpu: 500m
                            memory: 1Gi
            target:
              kind: Deployment
              name: (kustomize-controller|helm-controller|source-controller)
          - # Enable in-memory kustomize builds
            patch: |-
              - op: replace
                path: /spec/template/spec/volumes/0
                value:
                  name: temp
                  emptyDir:
                    medium: Memory
            target:
              kind: Deployment
              name: kustomize-controller
          - # Enable Helm near OOM detection
            patch: |-
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --feature-gates=OOMWatch=true
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --oom-watch-memory-threshold=95
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --oom-watch-interval=500ms
            target:
              kind: Deployment
              name: helm-controller
          - # Controller-level SOPS decryption
            patch: |-
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --sops-age-secret=sops-age-secret
            target:
              kind: Deployment
              name: kustomize-controller
          - # Watch configmaps and secrets attached to HelmReleases and Kustomizations
            patch: |-
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --watch-configs-label-selector=owner!=helm
            target:
              kind: Deployment
              name: (helm-controller|kustomize-controller)
          - # Cancel health checks on new Kustomizations revisions
            patch: |-
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --feature-gates=CancelHealthCheckOnNewRevision=true
            target:
              kind: Deployment
              name: kustomize-controller
