---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: flux-instance
  namespace: flux-system
spec:
  interval: 12h
  url: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-instance
  ref:
    tag: 0.37.1
