---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./dashboards/ansible-logs-dashboard.yaml
  - ./dashboards/cowdogmoo-network-analytics-dashboard.yaml
  - ./dashboards/observability-health-dashboard.yaml
  - ./dashboards/home-automation-logs-dashboard.yaml
  - ./dashboards/throwingshade-operations-dashboard.yaml
  - ./dashboards/troy-backup-dashboard.yaml
