---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-traefik
  namespace: networking
spec:
  chart:
    spec:
      chart: traefik
      version: 37.4.0
      reconcileStrategy: ChartVersion
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: ingress-traefik
        namespace: networking
  interval: 15m
  maxHistory: 3
  install:
    timeout: 10m
    replace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    remediation:
      remediateLastFailure: true
      retries: 3
      strategy: rollback
    cleanupOnFail: true
    crds: CreateReplace
  test:
    enable: true
  rollback:
    recreate: true
    force: true
    cleanupOnFail: true
  uninstall:
    keepHistory: false
  values:
    revisionHistoryLimit: 3
    # Core configs
    image:
      registry: ghcr.io
      repository: traefik/traefik
      tag: v3.6.4
      pullPolicy: IfNotPresent

    ingressClass:
      enabled: true
      isDefaultClass: true

    # Dashboard access
    api:
      dashboard: true
      insecure: true

    ingressRoute:
      dashboard:
        enabled: false

    logs:
      general:
        format: json
        level: DEBUG
      access:
        enabled: true
        format: json

    rbac:
      enabled: true

    service:
      annotations:
        external-dns.alpha.kubernetes.io/hostname: traefik.techvomit.xyz
      spec:
        # Arbitrarily selected IP address in the metallb IP ranges
        # defined in `k3s-ansible/inventory/cowdogmoo/group_vars/all.yaml`.
        loadBalancerIP: 192.168.20.10
        externalTrafficPolicy: Local

    extraEnvs:
      - name: TZ
        value: "America/Denver"

    providers:
      kubernetesCRD:
        enabled: true
        allowCrossNamespace: true
        allowExternalNameServices: true

      kubernetesIngress:
        enabled: true
        allowExternalNameServices: true
        publishedService:
          enabled: true

    tlsStore:
      default:
        defaultCertificate:
          secretName: techvomit-xyz-production-tls

    tlsOptions:
      default:
        minVersion: VersionTLS12
        maxVersion: VersionTLS13

    deployment:
      replicas: 1
      labels:
        app: ingress-traefik
      healthchecksPort: 9000
      healthchecksScheme: HTTP

    autoscaling:
      enabled: true
      minReplicas: 2
      maxReplicas: 5

    resources:
      requests:
        memory: 100Mi
        cpu: 500m
      limits:
        memory: 500Mi

    pilot:
      enabled: false

    restartPolicy: Always

    dnsConfig:
      options:
        - name: ndots
          value: "1"

    persistence:
      config:
        enabled: true
        type: nfs
        server: 192.168.20.210
        path: /volume1/k8s/traefik

    ports:
      traefik:
        port: 9000
        expose:
          default: true
        exposedPort: 9000
        protocol: TCP
      web:
        port: 8000
        expose:
          default: true
        exposedPort: 80
      websecure:
        port: 8443
        expose:
          default: true
        exposedPort: 443
        tls:
          enabled: true
          options: "default"
