---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./home-assistant/ks.yaml
  - ./home-assistant-test/ks.yaml
  - ./mosquitto/ks.yaml
  - ./music-assistant/ks.yaml
  - ./printer-monitor/ks.yaml
  - ./troy-backup/ks.yaml
