---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app goldilocks
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 30m
  path: ./kubernetes/apps/observability/goldilocks/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  retryInterval: 1m
  targetNamespace: observability
  timeout: 15m
  wait: false
