---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: loki
  namespace: observability
spec:
  template:
    spec:
      containers:
        - name: loki-sc-rules
          volumeMounts:
            - name: tmp
              mountPath: /tmp
