---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: guacamole-connection-jayson-pc
  namespace: guacamole
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: guacamole-connection-jayson-pc
    template:
      engineVersion: v2
      data:
        connection.yaml: |
          name: {{ .name | quote }}
          protocol: {{ .protocol | quote }}
          parameters:
            hostname: {{ .hostname | quote }}
            port: {{ .port | quote }}
            {{- if .username }}
            username: {{ .username | quote }}
            {{- end }}
            {{- if .password }}
            password: {{ .password | quote }}
            {{- end }}
            {{- if .domain }}
            domain: {{ .domain | quote }}
            {{- end }}
            {{- if .security }}
            security: {{ .security | quote }}
            {{- end }}
            ignore-cert: "true"
            enable-drive: "true"
            {{- if .username }}
            drive-path: {{ printf "/drives/%s" .username | quote }}
            {{- end }}
            create-drive-path: "true"
            enable-wallpaper: "false"
            color-depth: "16"
            resize-method: "display-update"
            {{- if .enable_audio }}
            enable-audio: {{ .enable_audio | quote }}
            {{- end }}
            enable-printing: "true"
            {{- if .enable_clipboard }}
            enable-clipboard: {{ .enable_clipboard | quote }}
            {{- end }}
          users:
            {{- if .users }}
            {{- $users := .users }}
            {{- range $user := split "," $users }}
            {{- if $user }}
            - {{ $user | trim | quote }}
            {{- end }}
            {{- end }}
            {{- end }}
          permissions:
            {{- if .permissions }}
            {{- $perms := .permissions }}
            {{- range $perm := split "," $perms }}
            {{- if $perm }}
            - {{ $perm | trim | quote }}
            {{- end }}
            {{- end }}
            {{- end }}
  dataFrom:
    - extract:
        key: guacamole-jayson-pc
