---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: guacamole-connection-k8s1
  namespace: guacamole
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: guacamole-connection-k8s1
    template:
      engineVersion: v2
      data:
        connection.yaml: |
          name: {{ .name | quote }}
          protocol: {{ .protocol | quote }}
          parameters:
            hostname: {{ .hostname | quote }}
            port: {{ .port | quote }}
            {{- if .username }}
            username: {{ .username | quote }}
            {{- end }}
            {{- if .private_key }}
            private-key: {{ .private_key | quote }}
            {{- end }}
            {{- if .enable_sftp }}
            enable-sftp: {{ .enable_sftp | quote }}
            {{- else }}
            enable-sftp: "true"
            {{- end }}
            {{- if .sftp_root_directory }}
            sftp-root-directory: {{ .sftp_root_directory | quote }}
            {{- else if .username }}
            sftp-root-directory: {{ printf "/home/%s" .username | quote }}
            {{- end }}
            {{- if .color_scheme }}
            color-scheme: {{ .color_scheme | quote }}
            {{- else }}
            color-scheme: "green-black"
            {{- end }}
            {{- if .font_name }}
            font-name: {{ .font_name | quote }}
            {{- else }}
            font-name: "monospace"
            {{- end }}
            {{- if .font_size }}
            font-size: {{ .font_size | quote }}
            {{- else }}
            font-size: "12"
            {{- end }}
            {{- if .enable_clipboard }}
            enable-clipboard: {{ .enable_clipboard | quote }}
            {{- end }}
          users:
            {{- if .users }}
            {{- $users := .users }}
            {{- range $user := split "," $users }}
            {{- if $user }}
            - {{ $user | trim | quote }}
            {{- end }}
            {{- end }}
            {{- end }}
          permissions:
            {{- if .permissions }}
            {{- $perms := .permissions }}
            {{- range $perm := split "," $perms }}
            {{- if $perm }}
            - {{ $perm | trim | quote }}
            {{- end }}
            {{- end }}
            {{- end }}
  dataFrom:
    - extract:
        key: guacamole-k8s1
