---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: guacamole
resources:
  - ./guacamole-pvc.yaml
  - ./guacamole-config.yaml
  - ./guacamole-deployment.yaml
  - ./guacamole-service.yaml
  - ./guacamole-ingress.yaml
  - ./guacamole-admin-init-job.yaml
  - ./externalsecret-k8s2.yaml
  - ./externalsecret-k8s1.yaml
  - ./externalsecret-jayson-pc.yaml
  - ./externalsecret-k8s3.yaml
  - ./externalsecret-k8s4.yaml
labels:
  - pairs:
      app.kubernetes.io/name: guacamole
      app.kubernetes.io/instance: guacamole
