---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: weave-gitops
  namespace: flux-system
spec:
  maxUnavailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: weave-gitops
