---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: authentik-webfinger
  namespace: flux-system
spec:
  dependsOn:
    - name: authentik
  path: ./kubernetes/apps/identity/authentik-webfinger/app
  interval: 15m
  retryInterval: 1m
  timeout: 5m
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
