---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: goldilocks
  namespace: observability
spec:
  interval: 15m
  chart:
    spec:
      chart: goldilocks
      version: 8.0.2
      sourceRef:
        kind: HelmRepository
        name: fairwinds-stable
        namespace: observability
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    installVPA: true
    vpa:
      enabled: true
      recommender:
        enabled: true
      updater:
        enabled: false
      admissionController:
        enabled: false
    dashboard:
      enabled: true
      replicaCount: 1
      service:
        type: ClusterIP
        port: 80
      ingress:
        enabled: true
        ingressClassName: ingress-traefik
        hosts:
          - host: &host goldilocks.techvomit.xyz
            paths:
              - path: /
                type: Prefix
        tls:
          - hosts:
              - *host
      resources:
        requests:
          cpu: 25m
          memory: 64Mi
        limits:
          memory: 64Mi
    controller:
      enabled: true
      resources:
        requests:
          cpu: 25m
          memory: 64Mi
        limits:
          memory: 64Mi
