---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: unpoller-secret
  namespace: observability
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: unpoller-secret
    template:
      data:
        UP_UNIFI_DEFAULT_API_KEY: "{{ .controlPlaneApiKey }}"
        UP_UNIFI_DEFAULT_URL: "https://192.168.20.1"
  data:
    - secretKey: controlPlaneApiKey
      remoteRef:
        key: Ubiquiti Account
        property: control-plane-api-key
