---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-operator
  namespace: flux-system
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: flux-operator
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: NetworkPolicy
              name: flux-operator-web
            patch: |
              - op: add
                path: /spec/ingress/0/ports/-
                value:
                  port: 8080
                  protocol: TCP
  values:
    revisionHistoryLimit: 3
    serviceMonitor:
      create: true
