---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reflector
  namespace: kube-system
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://emberstack.github.io/helm-charts
      chart: reflector
      version: 9.1.40
      sourceRef:
        kind: HelmRepository
        name: emberstack
        namespace: kube-system
      interval: 5m
  values:
    configuration:
      logging:
        minimumLevel: Information
