---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: tailscale-operator-oauth
  namespace: networking
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  refreshInterval: 1h
  target:
    name: tailscale-operator-oauth
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      type: Opaque
      data:
        client_id: "{{ .client_id }}"
        client_secret: "{{ .client_secret }}"
  data:
    - secretKey: client_id
      remoteRef:
        key: tailscale-oauth
        property: client_id
    - secretKey: client_secret
      remoteRef:
        key: tailscale-oauth
        property: client_secret
