---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-connect-secret
  namespace: external-secrets
stringData:
  1password-credentials.json: 'op://automation/1password-credentials-secret/1password-credentials.json'
  token: 'op://automation/1password-access-token-secret/credential'
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age-secret
  namespace: flux-system
stringData:
  age.agekey: op://automation/woe age key/privateKey
