---
name: Pre-Commit
on:
  merge_group:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
  push:
    branches:
      - main
  schedule:
    # Run once a week (see https://crontab.guru)
    - cron: "0 0 * * 0"
  workflow_dispatch:

# Cancel any in-progress job when a new workflow is triggered
concurrency:
  cancel-in-progress: true
  group: pre-commit-${{ github.workflow }}-${{ github.ref }}

env:
  PYTHON_VERSION: 3.13.7
  TASK_VERSION: 3.43.3
  TASK_X_REMOTE_TASKFILES: 1

permissions:
  actions: read
  checks: write
  contents: read
  id-token: write
  pull-requests: write # Allows merge queue updates
  security-events: write # Required for GitHub Security tab

jobs:
  pre-commit:
    name: Pre-Commit
    runs-on: ubuntu-latest
    steps:
      - name: Set up git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install python dependencies
        run: |
          python3 -m pip install \
            ansible \
            ansible-lint \
            codespell \
            detect-secrets \
            docker \
            molecule[docker] \
            pre-commit \
            yamllint

      - name: Install shfmt
        run: |
          curl -sL -o "/usr/local/bin/shfmt" "https://github.com/mvdan/sh/releases/download/v3.8.0/shfmt_v3.8.0_linux_amd64"
          chmod +x "/usr/local/bin/shfmt"

      - name: Install npm dependencies
        run: |
          sudo npm install -g markdownlint-cli prettier

      - name: Setup go-task
        run: |
          sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b /usr/local/bin v${{ env.TASK_VERSION }}
          task --version

      - name: Run pre-commit
        run: |
          task -y pre-commit:run-pre-commit
